#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: #0F172A;
}

.pagina {
  align-items: center;
  color: #fff;
  font-size: 1.0rem;
  justify-content: space-between;
  margin-top: 2rem;
}

.img-pagina {
  width: 230px;
  height: 300px;
  border: 2px solid white; 
  margin-bottom: 2rem;
}

.info {
  text-align: justify;      
  max-width: 800px;
}

.link-sin-estilo {
  
  color: inherit;
  transition: color 0.3s ease;
}

.link-sin-estilo:hover {
  color: gray; /* Cambia a gris al pasar el mouse */
}